#user {
    width: 100%;
}

.btn {
  width: 100%;
}
.text-field{
  width: 75px;
}
.total-field{
  width: 205px;
}
.table td{
  border-top: 0px;
}
.br{
  height: 1em
}
.table{
  margin-left:auto; 
  margin-right:auto;
}
section{
  text-align: center;
  padding-right: 40%;
}
h1{
  text-align: center
}
#calc_result{
    color: #2196F3;
    background-color: white;
    border-color: white;
    font-size: 14px;
}